<div class="card">
  <div class="card-body">

    <h5 class="card-title"><a href="{% url 'user_page_url' comment.author.id %}">{{ comment.author }}</a> - {{ comment.date_pub }}</h5>
    <p class="card-text">{{ comment.body }} </p>


    
    <table class="text">
      <tr>
      <td>
      <!-- <form action="{% url 'like_comment' comment.pk %}" method="POST">
        {% csrf_token %}

        {% if  comment.author != request.user and request.user.is_authenticated %}
          {% load extras %}
          {% likeOrNotTag comment request.user as commentlikeOrNotTag %}
          {% if commentlikeOrNotTag %}
            <button type="submit" name="obj_id" value="{{ comment.id }}"
              class="btn btn-outline-info">{{ comment.total_likes }}</button>
            {% else %}
            <button type="submit" name="obj_id" value="{{ comment.id }}" class="btn btn-info">{{ comment.total_likes }}</button>
          {% endif %}
        {% else %}
          <div class="btn btn-outline-info">{{ comment.total_likes }}</div>
        {% endif %}
      </form> -->

      {% if request.user.is_authenticated %}
          {% if  comment.author != request.user and level > 1 %}
              {% likeOrNotTag comment request.user as commentlikeOrNotTag %}
                {% if commentlikeOrNotTag %}
                    <a id="{% url 'like_comment' comment.id %}" title="Всего лайков: {{ comment.total_likes }}" name="{{ comment.id }}" style="font-size:25px;color: blue;" class="likin" id="co"><i class="fa fa-thumbs-up" aria-hidden="true"></i></a>
                {% else %}
                    <a id="{% url 'like_comment' comment.id %}" title="Всего лайков: {{ comment.total_likes }}" name="{{ comment.id }}" style="font-size:25px;color: black;" class="likin" id="co"><i class="fa fa-thumbs-up" aria-hidden="true"></i></a>
                {% endif %}

            {% endif %}
      {% else %}
        <a href="{% url 'account_login' %}" style="font-size:25px;color: black;" class="likin" id="co"><i class="fa fa-thumbs-up" aria-hidden="true"></i></a>
      {% endif %}


    </td>
    <td class="rightcol">
      
      {% if  request.user != comment.author and request.user.is_authenticated and level > 1 %}
            {% complaintOrNotTag comment request.user as commentComplaintOrNotTag %}


            {% if commentComplaintOrNotTag %}
                <a href="#" class="complaint btn btn-link" name="{{ comment.id }}" id="{% url 'complaint_comment' comment.pk %}" >Пожаловаться</a>
            {% else %}
               <a class="btn btn-link disabled">Пожаловаться</a>                             
            {% endif %} 
            


      {% endif %} 


      </td>
    </tr>
    </table>



  </div>
</div>