<div class="card">
  <div class="card-header">
    {{ comment.date_pub }}
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ comment.author }}</h5>
    <p class="card-text">{{ comment.body }} </p>


    

    <form action="{% url 'like_comment' comment.pk %}" method="POST">

      {% csrf_token %}

      {% if  comment.author != request.user and request.user.is_authenticated %}
      {% load extras %}
      {% likeOrNotTag comment request.user as commentlikeOrNotTag %}
      {% if commentlikeOrNotTag %}
      <button type="submit" name="obj_id" value="{{ comment.id }}"
        class="btn btn-outline-info">{{ comment.total_likes }}</button>
      {% else %}
      <button type="submit" name="obj_id" value="{{ comment.id }}" class="btn btn-info">{{ comment.total_likes }}</button>
      {% endif %}
    </form>
    {% else %}
    <div class="btn btn-outline-info">{{ comment.total_likes }}</div>
    {% endif %}


  </div>
</div>