<div class="card mb-5">
  <div class="card-header">
      <a href="{% url 'author_posts_list_url' post.author.username %}">{{ post.author }}</a> {{ post.date_pub }}       
  </div>
  
  {% if post.cover_url %}
  <img src="{{ post.cover_url }}" class="card-img-top" alt="Обложка">  
  {% endif %}
    
  <div class="card-body">
    <h5 class="card-title">{{ post.title }}</h5>
    <p class="card-text">{{ post.body|truncatewords:15 }}</p>
    <a href="{{ post.get_absolute_url }}" class="btn btn-outline-primary">Читать</a>      
    {% if request.user == post.author %}        
    <a href="{{ post.get_update_url }}" class="btn btn-outline-dark">Редактировать</a>
    {% endif %}
  </div>  
  <div class="card-footer text-muted">    

  <a href="###">#тэг</a>
    
   
  </div>
</div> 