{% load martortags %}
<div class="card mb-5">
  <div class="card-header">
      <a href="{% url 'user_page_url' post.author.id %}">{{ post.author }}</a> {{ post.date_pub }}       
  </div>
  
  <!-- {% if post.cover_url %}
  <img src="{{ post.cover_url }}" class="card-img-top" alt="Обложка">  
  {% endif %}
     -->
  <div class="card-body">
    <h5 class="card-title">{{ post.title }}</h5>
    <p class="card-text">{{ post.body|truncatechars:post.truncate|safe_markdown }}</p>
    <hr>
    <a href="{{ post.get_absolute_url }}" class="btn btn-outline-primary">Читать</a>      
    {% if request.user == post.author %}        
    <a href="{{ post.get_update_url }}" class="btn btn-outline-dark">Редактировать</a>
    {% endif %}
  </div>  
  {% if post.cover_url %}
  <img src="{{ post.cover_url }}" class="card-img-top" alt="Обложка">  
  {% endif %}
    
  <div class="card-footer text-muted">    

    {% for tag in post.tags.all %}
    <a href="{% url 'tag_detail_url' slug=tag.slug %}">#{{ tag }}</a>      
    {% endfor %} 
    
    
  </div>
</div>  