{% extends 'blog/base_blog.html' %}


{% block title %}
Создание поста - {{ block.super }}   
{% endblock title %}


{% block content %}
<form action="{{ post_create_url }}" method="post">
{% csrf_token %}
{{form.media}}
{% for field in form %}
<div class="form-group">
    {% if field.errors %}
        <div class="alert alert-danger">{{ field.errors }}</div>        
    {% endif %}  
    {{ field.label }}
    {{ field }} 
{% endfor %}
{{ tagform }}
</div>    

<button type="submit" class="btn btn-outline-primary">Создать пост</button>
</form> 
    

{% endblock content %}