{% extends 'blog/base_blog.html' %}

{% block title %}
{{ post.title }} - {{ block.super }}     
{% endblock title %}


{% block content %}
{% load static %}
{% load extras %}
<link rel="stylesheet" href="{% static 'css/table.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="card mb-4" style="width: 70rem;">
  <div class="card-header">{{ post.date_pub }}</div>
  {% if post.cover_url %}
  <img src="{{ post.cover_url }}" class="card-img-top" alt="Обложка">  
  {% endif %}
    <div class="card-body">
      
      <h5 class="card-title">{{ post.title }} - <a href="{% url 'user_page_url' post.author.id %}">{{ post.author }}</a></h5> 
      <p class="card-text">{{ post.body|safe }}</p>

      <table class="text">
        <tr>
        <td>
          <!-- <form action="{% url 'like_post' post.pk %}" method="POST">
            {% csrf_token %}
          
            {% if  post.author != request.user and request.user.is_authenticated and level > 1 %}

            {% likeOrNotTag post request.user as postlikeOrNotTag %}
              {% if postlikeOrNotTag %}
              <button type="submit" name="obj_id" value="{{ post.id }}" class="btn btn-outline-info">{{ post.total_likes }}</button>
              {% else %}
              <button type="submit" name="obj_id" value="{{ post.id }}" class="btn btn-info">{{ post.total_likes }}</button>
              {% endif %} 
            {% else %}
            <div class="btn btn-outline-info">{{ post.total_likes }}</div>      
            {% endif %}          
            
            {% if request.user == post.author %}        
            <a href="{{ post.get_update_url }}" class="btn btn-outline-primary">Редактировать</a>
            <a href="{{ post.get_delete_url }}" class="btn btn-outline-danger">Удалить</a>
            {% endif %}        
          </form> -->
          
          {% if request.user.is_authenticated %}
              {% if  post.author != request.user and level > 1 %}
                  {% likeOrNotTag post request.user as postlikeOrNotTag %}
                  {% if postlikeOrNotTag %}
                      <a id="{% url 'like_post' post.id %}" title="Всего лайков: {{ post.total_likes }}" name="{{ post.id }}" style="font-size:25px;color: blue;" class="likin" id="co"><i class="fa fa-thumbs-up" aria-hidden="true"></i></a>
                      {% else %}
                      <a id="{% url 'like_post' post.id %}" title="Всего лайков: {{ post.total_likes }}" name="{{ post.id }}" style="font-size:25px;color: black;" class="likin" id="co"><i class="fa fa-thumbs-up" aria-hidden="true"></i></a>
                  {% endif %}

              {% endif %}
          {% else %}
          <a href="{% url 'account_login' %}" style="font-size:25px;color: black;" class="likin" id="co"><i class="fa fa-thumbs-up" aria-hidden="true"></i></a>
          {% endif %}


          {% if request.user == post.author %}        
              <a title="Всего лайков: {{ post.total_likes }}" href="{{ post.get_update_url }}" class="btn btn-outline-primary">Редактировать</a>
              <a href="{{ post.get_delete_url }}" class="btn btn-outline-danger">Удалить</a>
          {% endif %}  



        </td>
              <td class="rightcol">
                {% if  post.author != request.user and request.user.is_authenticated and level > 1 %}
                    {% complaintOrNotTag post request.user as postComplaintOrNotTag %}
                        
                          {% if postComplaintOrNotTag %}
                            <a class="complaint" name="{{ post.id }}" id="{% url 'complaint_post' post.pk %}" >Пожаловаться</a>
                          {% else %}
                            Жалоба отправлена                              
                          {% endif %} 

                {% endif %}
              </td>
        </tr>
        </table>
        
    </div>
    <div class="card-footer text-muted">
    
      {% for tag in post.tags.all %}
      <a href="{% url 'tag_detail_url' id=tag.id %}">#{{ tag }}</a>        
      {% endfor %}   
          
    </div>
  


    <div class="card-footer">
      Всего комментариев: {{ comments.count }}
    </div>

    <div class="mb-4">
      {% for comment in comments %}
        {% include 'blog/includes/comment_card.html' %}
      {% endfor %}
    </div>
  
    {% if request.user.is_authenticated %}
    {% include 'blog/includes/add_comment.html' %}      
    {% endif %}
  </div> 
{% endblock content %}


{% block scripts %}
<script src="{% static 'js/scripts.js' %}"></script>  
{% endblock scripts %}
  