{% extends 'blog/base_blog.html' %}


{% block title %}
Правила  
{% endblock title %}


{% block content %}

<ul>
    <h1>
        Правила
    </h1>
    
<div class="mb-4">Данный ресурс предназначен для взаимного обмена опытом владения мотоциклами Harley-Davidson. Незнание Правил ресурса не только не освобождает от ответственности за их нарушение, но и само по себе является нарушением и отягчающим вину обстоятельством. Действия, указанные в нижеследующих статьях, запрещены на всем ресурсе.</div>
</ul>
   
    <ol>
        <li>Злоупотребление иностранными языками;</li>
        <li>Преимущество заглавных букв над строчными;</li>
        <li>Некорректное оформление сообщений, приводящее к нарушению структуры ресурса;</li>
        <li>Сообщения, не имеющие отношения к тематике ресурса;</li>
        <li>Мат, оскорбления, клевета, подделка доказательств, провокации, переход на личности, особенно с подчеркиванием половой, национальной или социальной принадлежности;</li>
        <li>Эстримизм, ксенофобия, порнография, пропаганда нетрадиционных сексуальных отношений, призыв к действиям, нарушающим законы Российской Федерации;</li>
        <li>Спам, любые формы рекламы, не согласованные с администрацией;</li>
        <li>Обсуждение политических, религиозных тем, а так же действий администрации.</li>

    </ol>

</div>
    
{% endblock content %}
    
    